body {
  margin: 0;
  background-color: black;
  background-image: url("./background4.jpg");
  background-repeat: repeat-y;
  background-position: center;
  background-attachment: fixed;
  color: #829cea;
  text-shadow: 5px 5px 10px blue;
}

h2 {
  color: navajowhite;
}

p {
  color: coral;
}

h1 a {
  list-style: none;
  color: black;
}

button,
select {
  padding: 5px 10px;
  min-width: 50px;
  margin: 5px;
  font-size: 18px;
  border-radius: 33%;
  background-color: #172358;
  color: coral;
}

label {
  width: 200px;
  display: block;
}

input,
textarea {
  width: 200px;
  padding: 10px;
  display: inline-block;
  margin: 10px;
}

nav {
  background: #000000;
  color: rgb(95, 194, 233);
  padding: 0px 20px;
  box-shadow: 0px 1px 21px rgb(119, 198, 212);
  width: 100%;
  margin-bottom: 15px;
  padding: 5px;
}

nav li {
  list-style: none;
  color: white;
  font-size: 24px;
  font-weight: 600;
}

.card {
  max-width: 720px;
  padding: 10px;
  box-shadow: 0px 10px 10px grey;
  margin: 0 auto;
  margin-bottom: 20px;
  background: #000000;
  border-radius: 33%;
}

.ProjectCard h3::after {
  content: url("https://education-team-2020.s3.eu-west-1.amazonaws.com/web-dev/m3/icon-expand.png");
  margin-left: 5px;
}

.EditProjectPage,
.AddProject,
.AddSong,
.SignupPage,
.LoginPage {
  background: #f9eec3;
  border: 1px solid grey;
  box-shadow: 0px 2px 3px grey;
  width: 400px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 4px;
}

.EditProjectPage {
  background-color: rgb(239, 196, 88);
}

.SignupPage,
.LoginPage {
  background-color: #0c1b33;
}

.LoginPage {
  background-color: #0c1b33;
}

.EditProjectPage form,
.AddSong form,
.AddProject form,
.SignupPage form,
.LoginPage form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.AddSong button,
.AddProject button {
  display: block;
}

.TaskCard {
  background-color: #dfeef9;
}
